{% extends 'base.html.twig' %}


{% block title %}Tim Store - Mon Compte{% endblock %}
{% block body %}





    <h1>Compte Tim</h1>
    <p>Bievenu nous vous attendions {{app.user.firstname}} {{app.user.lastname}}</p>
    {# timme avheter visuel#}
    {# menu liste des possiblité #}
    {# carte profile #}
     <a href="{{ path('app_account_change_info') }}">Modifier mot de passe</a>
    {{app.user.firstname}}
    {{app.user.lastname}}
    {{app.user.password}}
    {{app.user.email}}
    <a href="{{ path('app_logout') }}">deconnexion</a>


{% endblock %}
