{% extends 'base.html.twig' %}

{% block title %}Tim Store - vente de colection
{% endblock %}

{% block body %}

	<div class="homeContent1">
		<div class="homeText">
			<div class=" homeTime display-time"></div>
			<div class="homeTimNbr">300 000</div>
			<div id="homeSubText">
				les
				<span class="homeSubTextSpan">TIM</span>
				un monde ou les
				<span class="homeSubTextSpan">legendes
				</span>
				n'existes pas</div>
			<div>
				pas sur.....</div>
		</div>
		<div class="homeImg">
			<img class="homeContent1Img" src="assets/img/acceuil.svg" alt="">
		</div>
	</div>

	<div class="space"></div>

	<div class="homeContent2">
		<img width="200px" src="assets/img/page_logo.svg" alt="">
		<div class="homeTitle">
			<span class="homeTitleSpan">Tim</span>Mag</div>
		<div class="homeSlogan">Decouvrer les
			<span class="homeSloganSpan1">Tims</span>
			a travers leur histoire et la collection en vente ici sur<span class="homeSloganSpan">
				<span class="homeSloganSpan1">Tim</span>Mag</span>
		</div>
	</div>

	<div class="space"></div>

	<div class="homeContent3">
		<div class="homeH2 btn">top TimRare</div>
		<div class="homeTopTim">
			<div class="homeTopProduct1 product">
				<div class="prodImg" width="100%">
					<a width="100%" href="{{ path('app_product' , {'slug' : product1.slug }) }}"><img width="100%" height= "250px"src="/uploads/{{product1.illustration}}" alt="product.name"></a>
				</div>
				<div class=" homeProdtext prodText">
					<div class=" prodName">
						<a href="{{ path('app_product' , {'slug' : product1.slug }) }}">{{product1.name}}</a>
					</div>
					<div class="prodSubtitle troc">{{product1.subtitle}}</div>
					<div class="homeProdDesc">{{product1.description}}</div>
					<div class="prodBlock">
						<div class="btn">
							<a class="btn" href="{{ path('app_add_cart', {id: product1.id}) }}">Ajouter</a>
						</div>
						<div class="prodPrice">{{ (product1.price/100)|number_format(2,',','.') }}€</div>
					</div>
				</div>
			</div>
			<div class="homeTopProduct2">
				<div class="product">
					<div class="prodImg" width="100%">
						<a width="100%" href="{{ path('app_product' , {'slug' : product2.slug }) }}"><img width="100%" src="/uploads/{{product2.illustration}}" alt="product.name"></a>
					</div>
					<div class="prodText">
						<div class="prodName">
							<a href="{{ path('app_product' , {'slug' : product2.slug }) }}">{{product2.name}}</a>
						</div>
						<div class="prodSubtitle troc">{{product2.subtitle}}</div>
						<div class="prodBlock">
							<div class="btn">
								<a class="btn" href="{{ path('app_add_cart', {id: product2.id}) }}">Ajouter</a>
							</div>
							<div class="prodPrice">{{ (product2.price/100)|number_format(2,',','.') }}€</div>
						</div>
					</div>
				</div>
								<div class="product">
					<div class="prodImg" width="100%">
						<a width="100%" href="{{ path('app_product' , {'slug' : product2.slug }) }}"><img width="100%" src="/uploads/{{product2.illustration}}" alt="product.name"></a>
					</div>
					<div class="prodText">
						<div class="prodName">
							<a href="{{ path('app_product' , {'slug' : product2.slug }) }}">{{product2.name}}</a>
						</div>
						<div class="prodSubtitle troc">{{product2.subtitle}}</div>
						<div class="prodBlock">
							<div class="btn">
								<a class="btn" href="{{ path('app_add_cart', {id: product2.id}) }}">Ajouter</a>
							</div>
							<div class="prodPrice">{{ (product2.price/100)|number_format(2,',','.') }}€</div>
						</div>
					</div>
				</div>
								<div class="product">
					<div class="prodImg" width="100%">
						<a width="100%" href="{{ path('app_product' , {'slug' : product2.slug }) }}"><img width="100%" src="/uploads/{{product2.illustration}}" alt="product.name"></a>
					</div>
					<div class="prodText">
						<div class="prodName">
							<a href="{{ path('app_product' , {'slug' : product2.slug }) }}">{{product2.name}}</a>
						</div>
						<div class="prodSubtitle troc">{{product2.subtitle}}</div>
						<div class="prodBlock">
							<div class="btn">
								<a class="btn" href="{{ path('app_add_cart', {id: product2.id}) }}">Ajouter</a>
							</div>
							<div class="prodPrice">{{ (product2.price/100)|number_format(2,',','.') }}€</div>
						</div>
					</div>
				</div>
								<div class="product">
					<div class="prodImg" width="100%">
						<a width="100%" href="{{ path('app_product' , {'slug' : product2.slug }) }}"><img width="100%" src="/uploads/{{product2.illustration}}" alt="product.name"></a>
					</div>
					<div class="prodText">
						<div class="prodName">
							<a href="{{ path('app_product' , {'slug' : product2.slug }) }}">{{product2.name}}</a>
						</div>
						<div class="prodSubtitle troc">{{product2.subtitle}}</div>
						<div class="prodBlock">
							<div class="btn">
								<a class="btn" href="{{ path('app_add_cart', {id: product2.id}) }}">Ajouter</a>
							</div>
							<div class="prodPrice">{{ (product2.price/100)|number_format(2,',','.') }}€</div>
						</div>
					</div>
				</div>
								<div class="product">
					<div class="prodImg" width="100%">
						<a width="100%" href="{{ path('app_product' , {'slug' : product2.slug }) }}"><img width="100%" src="/uploads/{{product2.illustration}}" alt="product.name"></a>
					</div>
					<div class="prodText">
						<div class="prodName">
							<a href="{{ path('app_product' , {'slug' : product2.slug }) }}">{{product2.name}}</a>
						</div>
						<div class="prodSubtitle troc">{{product2.subtitle}}</div>
						<div class="prodBlock">
							<div class="btn">
								<a class="btn" href="{{ path('app_add_cart', {id: product2.id}) }}">Ajouter</a>
							</div>
							<div class="prodPrice">{{ (product2.price/100)|number_format(2,',','.') }}€</div>
						</div>
					</div>
				</div>
								<div class="product">
					<div class="prodImg" width="100%">
						<a width="100%" href="{{ path('app_product' , {'slug' : product2.slug }) }}"><img width="100%" src="/uploads/{{product2.illustration}}" alt="product.name"></a>
					</div>
					<div class="prodText">
						<div class="prodName">
							<a href="{{ path('app_product' , {'slug' : product2.slug }) }}">{{product2.name}}</a>
						</div>
						<div class="prodSubtitle troc">{{product2.subtitle}}</div>
						<div class="prodBlock">
							<div class="btn">
								<a class="btn" href="{{ path('app_add_cart', {id: product2.id}) }}">Ajouter</a>
							</div>
							<div class="prodPrice">{{ (product2.price/100)|number_format(2,',','.') }}€</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="prodImg" width="100%">
						<a width="100%" href="{{ path('app_product' , {'slug' : product3.slug }) }}"><img width="100%" src="/uploads/{{product3.illustration}}" alt="product.name"></a>
					</div>
					<div class="prodText">
						<div class="prodName">
							<a href="{{ path('app_product' , {'slug' : product3.slug }) }}">{{product3.name}}</a>
						</div>
						<div class="prodSubtitle troc">{{product3.subtitle}}</div>
						<div class="prodBlock">
							<div class="addBtn btn">
								<a class="btn" href="{{ path('app_add_cart', {id: product3.id}) }}">Ajouter</a>
							</div>
							<div class="prodPrice">{{ (product3.price/100)|number_format(2,',','.') }}€</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="space"></div>
	<div class="homeContent4">
		<h2 class="homeH2 btn">top TimRare</h2>

<img width="100%" src="{{asset("assets/img/radomTim.svg")}}" alt="">

		<script src="{{ asset('assets/js/app.js') }}"></script>


	{% endblock %}
