<nav class="navbar">
<a href="{{ path('app_home') }}"><img class ="navLogo"   src="{{ asset('assets/img/nav_logo.svg') }}" alt="">
</a>

<a href="{{ path('app_products') }}">produits</a>

{% if app.user %}

{% if is_granted("ROLE_ADMIN") %}
<a href="{{ path('admin') }}">espace admin</a>{% endif %}
<a href="{{ path('app_cart') }}">mon panier</a>
<a href="{{ path('app_account') }}"> <img class ="navLogo"src="{{ asset('assets/img/nav_logo.svg') }}" alt=""><span class='span'>compte</span></a>


{% else %}

<a href="{{ path('app_register') }}">inscription</a>
<a href="{{ path('app_login') }}">connexion</a><a href="{{ path('app_cart') }}">mon panier</a>

{% endif %}





</nav>
<div class="navMarg"></div>

