<nav>
adazda
   {# <a href="{{ path('app_products') }}">produits</a>
{% if app.user %}

    
   
    <a href="{{ path('app_account') }}">compte</a>
     <a href="{{ path('app_logout') }}">deconnexion</a>
{% else %}
    
<a href="{{ path('app_register') }}">inscription</a>
<a href="{{ path('app_login') }}">connexion</a>
{% endif %} #}
</nav>